<tr>
  <td><%= l(article.created_at, format: :short) %></td>
  <td>Frontend</td>
  <td><%= article.title %></td>
  <td>
    <div class="icons">
      <%= link_to edit_administrate_article_path(article), title: "Editar", alt: "edit" do %>
        <%= image_tag "icons/gray/edit.svg" %>
      <% end %>

      <%= link_to [:administrate, article], title: "Visualizar", alt: "eye" do %>
        <%= image_tag "icons/gray/eye.svg" %>
      <% end %>

      <a href="#" title="Deletar"><%= image_tag "icons/gray/close.svg", alt: "close" %></a>
    </div>
  </td>
</tr>
