<div class="row">
  <%= form_with(model: [:administrate, article], class: "form", id: "article-form") do |form| %>
    <div class="input-row">
      <div class="input-container">
        <%= form.label :title, class:"label" %>
        <%= form.text_field :title, disabled: (params[:action] == "show"), placeholder:"Digite aqui o título do post", class:"input" %>
      </div>
    </div>
    <div class="input-row">
      <div class="input-container">
        <%= form.label :body, class:"label" %>
        <%= form.text_area :body, disabled: (params[:action] == "show"), rows:"18", class:"textarea", placeholder:"Escreva aqui o conteúdo do post" %>
      </div>
    </div>

    <div class="input-row">
      <div class="input-container">
        <%= form.label :category_id, class:"label" %>
        <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, article.category_id), {}, { disabled: (params[:action] == "show"), class:"select" } %>
      </div>
    </div>

    <div>
      <%= form.label :cover_image, style: "display: block", class: "label-input-file" %>
      <%= (form.file_field :cover_image, style: "margin-bottom: 8px;") if params[:action] != "show" %>

      <div id=<%= dom_id(article) %>>
        <%= image_tag article.cover_image.variant(:thumb) if article.cover_image.attached? %>

        <%= link_to "Remover",
              destroy_cover_image_administrate_article_path(article),
              data: { "turbo-confirm": "Tem certeza?", "turbo-method": :delete } if article.cover_image.attached? && params[:action] != "show" %>
      </div>
    </div>

    <%= button_to "Apagar artigo", [:administrate, @article], data: { turbo: false }, method: :delete, class:"button small" if params[:action] == "show" %>
    <%= form.submit style: "display: none;" %>
  <% end %>
</div>
