<tr>
  <td><%= category.name %></td>
  <td>
    <div class="icons">
      <%= link_to edit_administrate_category_path(category), title: "Editar", alt: "edit" do %>
        <%= image_tag "icons/gray/edit.svg" %>
      <% end %>

      <%= link_to [:administrate, category], title: "Visualizar", alt: "eye" do %>
        <%= image_tag "icons/gray/eye.svg" %>
      <% end %>

      <%= button_to [:administrate, category], title: "Apagar", class: "button-transparent", alt: "close", data: { turbo: false }, method: :delete do %>
        <%= image_tag "icons/gray/close.svg" %>
      <% end %>
    </div>
  </td>
</tr>
