<section class="section posts-grid-section">
  <div class="container">
    <div class="title-container with-item">
      <h2 class="title">Publicações mais recentes</h2>
      <a href="#" class="button">Ver todos</a>
    </div>
    <div class="grid" id="postGridHome">
      <a href="post.html" class="item">
        <%= image_tag "posts/post1.jpg", class: "item-image", alt: "post 1" %>
        <div class="item-row">
          <div class="item-category">Backend</div>
          <div class="item-comments">25</div>
        </div>
        <div class="item-row">
          <div class="item-title">Ruby on Rails 6 completo, do básico ao avançado</div>
        </div>
        <div class="item-row">
          <div class="item-author">Jackson Pires</div>
          <div class="item-date">15 de set</div>
        </div>
      </a>
      <a href="post.html" class="item">
        <%= image_tag "posts/post2.jpg", class:"item-image", alt: "post 2" %>
        <div class="item-row">
          <div class="item-category">Frontend</div>
          <div class="item-comments">6</div>
        </div>
        <div class="item-row">
          <div class="item-title">Melhores práticas para desenvolvimento web</div>
        </div>
        <div class="item-row">
          <div class="item-author">Jackson Pires</div>
          <div class="item-date">15 de set</div>
        </div>
      </a>
      <a href="post.html" class="item">
        <%= image_tag "posts/post3.jpg", class:"item-image", alt:"post 1" %>
        <div class="item-row">
          <div class="item-category">DevOps</div>
          <div class="item-comments">152</div>
        </div>
        <div class="item-row">
          <div class="item-title">Aprenda os melhores comandos para terminal</div>
        </div>
        <div class="item-row">
          <div class="item-author">Jackson Pires</div>
          <div class="item-date">15 de set</div>
        </div>
      </a>
      <a href="post.html" class="item">
        <%= image_tag "posts/post1.jpg", class:"item-image", alt:"post 1" %>
        <div class="item-row">
          <div class="item-category">Backend</div>
          <div class="item-comments">25</div>
        </div>
        <div class="item-row">
          <div class="item-title">Ruby on Rails 6 completo, do básico ao avançado</div>
        </div>
        <div class="item-row">
          <div class="item-author">Jackson Pires</div>
          <div class="item-date">15 de set</div>
        </div>
      </a>
      <a href="post.html" class="item">
        <%= image_tag "posts/post2.jpg", class:"item-image", alt:"post 2" %>
        <div class="item-row">
          <div class="item-category">Frontend</div>
          <div class="item-comments">25</div>
        </div>
        <div class="item-row">
          <div class="item-title">Melhores práticas para desenvolvimento web</div>
        </div>
        <div class="item-row">
          <div class="item-author">Jackson Pires</div>
          <div class="item-date">15 de set</div>
        </div>
      </a>
      <a href="post.html" class="item">
        <%= image_tag "posts/post3.jpg", class:",item:image", alt: "pos: 1" %>
        <div class="item-row">
          <div class="item-category">DevOps</div>
          <div class="item-comments">25</div>
        </div>
        <div class="item-row">
          <div class="item-title">Aprenda os melhores comandos para terminal</div>
        </div>
        <div class="item-row">
          <div class="item-author">Jackson Pires</div>
          <div class="item-date">15 de set</div>
        </div>
      </a>
    </div>
    <div class="grid-mobile">
      <div class="bullets" id="postGridHomeBullets"></div>
      <div><a href="#" class="button clean">ver mais</a></div>
    </div>
  </div>
</section>
