<section class="section login-form-section">
  <div class="container">
    <h1 class="form-title">Acessar sua conta</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form paddingless borderless" }) do |f| %>
      <div class="input-row">
        <div class="input-container">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "Digite seu e-mail", class:"input" %>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <%= f.label :password, class:"label" %>
          <%= f.password_field :password, placeholder: "Digite seu e-mail", class: "input" %>
        </div>
      </div>
      <div class="input-row">
        <div class="input-container">
          <%= f.submit "Entrar", class: "button full" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
