<section class="section categories-grid-section">
  <div class="container">
    <div class="title-container with-item">
      <h2 class="title">Navegue por categoria</h2>
      <a href="#" class="button">Ver todos</a>
    </div>
    <div class="grid">
      <a href="#" class="item">
        <%= image_tag "categories/category1.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Design</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category2.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Backend</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category3.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Frontend</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category4.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Sistemas Operacionais</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category5.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Segurança</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category6.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">DevOps</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category7.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Marketing</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
      <a href="#" class="item">
        <%= image_tag "categories/category8.jpg", alt:"Categoria", class:"item-image" %>
        <div class="item-title">Cloud</div>
        <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
      </a>
    </div>
  </div>
</section>
