<footer class="section footer-section">
  <div class="container">
    <div class="box-container">
      <div class="box">
        <div class="box-title">Páginas</div>
        <div class="list-container">
          <ul>
            <li><%= link_to "Início", root_path %></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-title">Categorias</div>
        <div class="list-container">
          <ul>
            <% @footer_categories_1.each do |category| %>
              <li><a href="#"><%= category.name %></a></li>
            <% end %>
          </ul>
          <ul>
            <% @footer_categories_2.each do |category| %>
              <li><a href="#"><%= category.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-title">Posts Populares</div>
        <div class="list-container">
          <ul>
            <% @footer_articles.each do |article| %>
              <li><%= link_to article.title, article_path(article) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="social-container">
      <div class="social">
        <a href="#"><%= image_tag "icons/gray/facebook.svg", alt:"Facebook" %></a>
        <a href="#"><%= image_tag "icons/gray/twitter.svg", alt:"Twitter" %></a>
        <a href="#"><%= image_tag "icons/gray/instagram.svg", alt:"Instagram" %></a>
        <a href="#"><%= image_tag "icons/gray/linkedin.svg", alt:"Linkedin" %></a>
      </div>
    </div>
    <div class="logo-container">
      <%= image_tag "logo-footer.svg", alt:"Logo Footer" %>
      <span class="copyright">2022 - Ruby on Rails Club. Todos os direitos reservados</span>
    </div>
  </div>
</footer>
