<footer class="section footer-section">
  <div class="container">
    <div class="box-container">
      <div class="box">
        <div class="box-title">Páginas</div>
        <div class="list-container">
          <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-title">Categorias</div>
        <div class="list-container">
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Backend</a></li>
            <li><a href="#">Frontend</a></li>
            <li><a href="#">Sistemas Operacionais</a></li>
          </ul>
          <ul>
            <li><a href="#">Segurança</a></li>
            <li><a href="#">DevOps</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Cloud</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-title">Posts Populares</div>
        <div class="list-container">
          <ul>
            <li><a href="#">Ruby on Rails 6 do básico ao avançado</a></li>
            <li><a href="#">Melhores práticas para desenvolvimento web</a></li>
            <li><a href="#">Aprenda os melhores comandos para terminal</a></li>
            <li><a href="#">Fundamentos do Ruby on Rails</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social-container">
      <div class="social">
        <a href="#"><%= image_tag "icons/gray/facebook.svg", alt:"Facebook" %></a>
        <a href="#"><%= image_tag "icons/gray/twitter.svg", alt:"Twitter" %></a>
        <a href="#"><%= image_tag "icons/gray/instagram.svg", alt:"Instagram" %></a>
        <a href="#"><%= image_tag "icons/gray/linkedin.svg", alt:"Linkedin" %></a>
      </div>
    </div>
    <div class="logo-container">
      <%= image_tag "logo-footer.svg", alt:"Logo Footer" %>
      <span class="copyright">2022 - Ruby on Rails Club. Todos os direitos reservados</span>
    </div>
  </div>
</footer>
