<!DOCTYPE html>
<html>
  <head>
    <title>RubyonrailsclubBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>LAYOUT PÚBLICO</h1>

    <%= image_tag "logo.svg" %>
    <%= image_tag "avatar/man-1.svg" %>

    <%= yield %>
  </body>
</html>
