<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby on Rails Club - Home</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag asset_path("favicon.ico") %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;800&display=swap"
      rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>LAYOUT PÚBLICO</h1>

    <%= image_tag "logo.svg" %>
    <%= image_tag "avatar/man-1.svg" %>

    <%= yield %>

    <%= javascript_include_tag "menu", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "posts-grid", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "jquery/jquery1.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "slick/slick.min", "data-turbo-track": "reload" %>
  </body>
</html>
