<section class="section login-form-section">
  <div class="container">
    <h1 class="form-title">Olá, esse é seu primeiro acesso</h1>
    <h3 class="form-subtitle">Para criar uma conta, complete seu cadastro abaixo</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"form paddingless borderless" }) do |f| %>
      <div class="input-row">
        <div class="input-container">
          <%= f.label :email, class:"label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite seu email", class:"input" %>
        </div>
      </div>
      <div class="input-row double">
        <div class="input-container">
          <%= f.label :password, class:"label" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Crie uma senha", class: "input" %>
        </div>
        <div class="input-container">
          <%= f.label :password, class:"label" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Confirmar senha", class: "input" %>
        </div>
      </div>
      <div class="input-row">
        <div class="input-container">
          <%= f.submit "Finalizar cadastro", class:"button full" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
